extends layout.pug

block content
  div.row
    div.col.s12
      h1.center-align Welcome !
      h2.center-align Log In to make polls
      p.center-align
        a(href="/login").waves-effect.waves-light.btn-large.login Log In
          i.material-icons.left settings_power
          i.material-icons.right settings_power
        br
        | or
        br
        a(href="/register").waves-effect.waves-light.btn-large.login Register
          i.material-icons.left settings_power
          i.material-icons.right settings_power

append scripts
  script(src="../js/index.js")
